.dropbtn {
    background-color: rgba(241, 241, 241,0.0);
	padding: 0px 10px;
	text-decoration: none;
    color: #818181;
    font-size: 20px;
    border: none;
	margin-left: 20px;
	margin-top: 20px;
}
 
.dropdown {
    position: relative;
    display: inline-table-row;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 150px;
    z-index: 1;
}
 
.dropdown-content a {
	font-size: 20px;
    color: #818181;
    padding: 10px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {background-color: rgba(241, 241, 241,0.0);}
.dropdown:hover .dropdown-content {display: inline-table;}
.dropdown:hover .dropbtn {background-color: rgba(241, 241, 241,0.3);
color: white;
}