html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 80%;
}
#heading
{
	font-size: 60px;
	font-family: absolute;
	width: 1400px;
	height: 70px;
	
}
#nav
{
	background-color: yellow;
}

@media print {
  html, body {
    height: auto;
  }

  #map {
    height: 650px;
  }
}
